    @media only screen and (min-width: 1000px) {
        .fixed {
            position: fixed;
            top: 24px;
            z-index: 10;
            animation: ease-in-out 1s;
        }
        .category_img {
            height: 190px;
        }
    }
    /* <1200px */
    
    @media only screen and (max-width: 1200px) {
        .nav__item {
            height: 6.125rem;
        }
        .nav {
            padding-left: 0;
            padding-bottom: 0;
        }
        .sidebar {
            padding: 20px;
            width: 140px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
        }
        .grid-item {
            padding: 0px 7px 0px 7px;
        }
    }
    /* < 1000px - off nav col*/
    
    @media only screen and (max-width: 999px) {
        .header__right {
            display: flex;
            position: relative;
            flex: 0 0 100%;
            padding-top: 22px;
        }
        .header__left {
            display: flex;
            position: relative;
            flex: 0 0 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-items: center;
            border-bottom: 1.25px solid #343a40;
            padding-bottom: 20px;
        }
        .status {
            display: block;
        }
        .header__social {
            justify-content: center;
        }
        .header__base-info {
            padding-top: 12px;
        }
        .sidebar {
            border-radius: 20px 20px 0px 0px;
            width: auto;
        }
        #fixed {
            position: relative;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
        }
        .grid-item {
            padding: 0px 5px 0px 5px;
        }
        .category_img {
            height: 190px;
        }
        /* blog ------- */
        .gird_blogs {
            display: grid;
            grid-template-columns: auto;
        }
        .blog_item {
            margin: 0px 0px 30px 0px;
        }
        /* ---------------- */
    }
    /* < 990px */
    
    @media only screen and (max-width: 990px) {
        .nav__item {
            display: flex;
            width: calc(20% - 0px);
            padding: 10px;
        }
        .main {
            border-radius: 0 0 20px 20px;
        }
        .sidebar {
            border-bottom: 1px solid #343a40;
            width: auto;
        }
        .client-logo {
            width: 150px;
        }
        .category_img {
            height: 220px;
        }
    }
    /* < 768px */
    
    @media only screen and (max-width: 768px) {
        .nav__item {
            display: flex;
            width: calc(20% - 0px);
            padding: 8px;
            margin-bottom: 0;
            justify-content: center;
            align-items: center;
        }
        .sidebar {
            padding: 14px;
        }
        .nav__item a {
            height: 5.25rem;
            font-size: 11px;
        }
        .nav__item a i {
            font-size: 20px;
            align-items: center;
            justify-items: center;
            padding-bottom: 8px;
        }
        .header__contact {
            padding-left: 15px;
        }
        ul.header__contact>li {
            font-size: 12px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto;
        }
    }
    /* < 580 px */
    
    @media only screen and (max-width: 570px) {
        .title--h1 {
            font-size: 28px;
        }
        .title--h2 {
            font-size: 23px;
        }
        .title--h3 {
            font-size: 22px;
            margin-bottom: 13px;
        }
        .title--h5 {
            font-size: 13px;
        }
        .title--h6 {
            font-size: 12px;
        }
        .sidebar {
            position: fixed;
            z-index: 10;
            top: 0px;
            margin: 0px;
            border-radius: 0;
            border: 0;
            /* height: 60px; */
            padding: .5rem .9375rem;
            background-color: #23262b;
            box-shadow: 0 20px 40px rgb(103 118 128 / 20%);
            justify-items: center;
            text-align: center;
            padding: 0px 12px;
        }
        .nav__item {
            justify-items: center;
            text-align: center;
            padding: 0px;
            height: auto;
            border-radius: 0;
        }
        .nav__item a {
            background-color: transparent;
            padding: 10px;
            height: auto;
            /* border-bottom: 3px solid #0d86ff; */
            border-radius: 0;
        }
        .active_none {
            border-bottom: 3px solid #0d86ff;
        }
        .nav__item a i {
            font-size: 17px;
        }
        .sidebar {
            width: 100%;
            left: 0;
        }
        .main {
            border-radius: 20px;
        }
        .header {
            margin-bottom: 10px;
        }
        /* ----------------- blog -----------------*/
        .bl_item_image div {
            width: 70px;
            height: 95px;
            border-radius: 0px 0px 25px 0px;
            background-color: #ff965d;
            position: absolute;
            /* line-height: 0px; */
        }
        .bl_item_image div span {
            font-size: 13px;
        }
        .bl_item_image div p {
            font-size: 18px;
        }
        .box {
            padding: 15px;
        }
    }